<div class="playlist-container">
    <div class="playlist-header">
        <span class="playlist-cover">
        </span>
        <span class="playlist-details">
            <div class="playlist-title">Título da playlist</div>
            <div class="playlist-description">
                Playlist foda pra cacete
                perfeita pra curtir a bad
                e a quarentena
            </div>
        </span>
    </div>
    <div class="playlist-songs">
        <div class="songs-header">
            <span class="title">
                Título
            </span>
            <span class="artist">
                Artista
            </span>
        </div>

        <div class="song" *ngFor="let song of songs">
            <span class="title">
                {{song.title}}
            </span>
            <span class="artist">
                {{song.artist}}
            </span>
            <svg-icon (click)="playSong(song)" class="clickable" src="../assets/icons/play-solid.svg" [svgStyle]="{ 'width.px':14 }"></svg-icon>
        </div>
    </div>
</div>
<app-controls></app-controls>